# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'
  
- task: HCLAppScanOnCloud@2
  inputs:
    AppSecTestService: 'ASoCServiceConnection06.08.2024'
    applications: '59df64e8-be0b-4af4-ad9f-2f5176fdfdca'
    scanname: 'testtttt'
    scantype: 'static'
    scanMethod: 'IRX'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
